/*
 * The general stuff
 * */


body {
    background: #h2h2h2;
}

#header {
	background: #fff;
	height: 150px;
}

/*
	Fonts
*/

a {
	color: none;
	text-decoration: none;
	border-bottom: thin dashed #9e8c33;
	color: #9e8c33;
	outline: none;
}

li {
	list-style-type: none;
}

.imagelink a {
	border-bottom :none;
}

/*
 *
 */





/******
	Main
******/

#main {
	background: #fff;
}



/********
	Sidebar left
*****/

.sidebar .block,
.sidebar #block-block-1 .inner {
	margin: 0;
}

.region.region-sidebar-first {
	border: 2px solid #333;
}

.region.region-sidebar-first .profileimage a {
	background: url("../../../../default/files/image.jpg") no-repeat;
	height: 118px;
	width: 120px;
	display: block;
	text-indent: -9999px;
	margin-left: auto;
	margin-right: auto;
}

#block-block-1 div.profilename,
#block-block-1 div.profilename h3 {
	margin-bottom: 0px;
}

#block-block-1 div.profileemail {
	margin-bottom: 20px;
}

#block-block-1 div {
	margin-bottom: 8px;
}

#block-block-1 div.icons a {
	text-decoration:none;
	display: block;
	margin-left: auto;
	margin-right: auto;
	text-indent:-9999px;
}

#block-block-1 .profilediaspora a {
	background: url("../images/diaspora.jpg") no-repeat;
	height: 46px;
	width: 80px;
}

#block-block-1 .profileheadstart a {
	background: url("../images/headstart.jpg") no-repeat;
	height: 40px;
	width: 138px;
}

#block-block-1 .smaller {
	margin: 0 35px;
	height: 40px;
}

#block-block-1 .profiletwitter a {
	background: url("../images/twitter.png") no-repeat;
	height: 40px;
	width: 40px;
	float:left;
}

#block-block-1 .profilelinkedin a {
	background: url("../images/linkedin.png") no-repeat;
	height: 40px;
	width: 40px;
	float:right;
}

/*
 * Arrow
 * */

.region.region-sidebar-first #block-block-1 .arrow {
  border-color:  transparent transparent #333 transparent;
  border-style: solid;
  border-width: 0px 140px 34px 76px;
  height:0;
  width:0;
  position:absolute;
  left: 0;
  margin-bottom: 0;
}

/*
.arrow .inner {
  border-color: #fff transparent transparent transparent;
  border-style: solid;
  border-width: 10px;
  height:0;
  width:0;
  position:relative;
  bottom: 3px;
  left:50px;
  margin-top: -20px;
} */

/*
 * Cleaning up the twitter widget!!
 * */

.#twtr-widget-1 .twtr-doc:hover,
#twtr-widget-1 .twtr-hd a:hover,
#twtr-widget-1 h3:hover,
#twtr-widget-1 h4:hover,
#twtr-widget-1 .twtr-popular:hover,
#twtr-widget-1 .twtr-doc,
#twtr-widget-1 .twtr-hd a,
#twtr-widget-1 h3,
#twtr-widget-1 h4,
#twtr-widget-1 .twtr-popular,
.region.region-sidebar-first #twtr-widget-1 .twtr-hd a,
.region.region-sidebar-first #twtr-widget-1 .twtr-hd a:hover,
#twtr-widget-1 .twtr-tweet a:hover {
	color: #9e8c33!important;
	text-decoration:none!important;
}

.twitterblock #twtr-widget-1 .twtr-doc,
.twitterblock #twtr-widget-1 .twtr-hd a,
.twitterblock #twtr-widget-1 h3,
.twitterblock #twtr-widget-1 h4,
.twitterblock #twtr-widget-1 .twtr-popular,
.twitterblock #twtr-widget-1 .twtr-new-results,
.twitterblock #twtr-widget-1 .twtr-results-inner,
.twitterblock #twtr-widget-1 .twtr-timeline {
	background: transparent!important;
}

#block-block-2 .inner {
	padding: 0px;
}

#block-block-2 .inner .twtr-hd {
	display:none;
}

#block-block-2 .inner .twtr-bd {
	padding: 0px;
}

#block-block-2 .inner .twtr-timeline {
	-moz-border-radius: 0;
}

#block-block-2 .twtr-ft span {
	display: none;
}

#block-block-2 .twtr-ft a {
	display: block;
	background: url("../images/twitter_logo.png") no-repeat;
	border-bottom: medium none;
    display: block;
    height: 15px;
    width: 80px;	
}

#block-block-2 .twtr-ft {
	background: none repeat scroll 0 0 #333 !important;
}	

#block-block-2 .twtr-ft a img {
	display:none;
}

#block-block-2 .twtr-doc {
	-moz-border-radius: 0;
}

#block-block-2 {
	margin: 0;
}

#block-block-2 .content {
	padding: 0;
}

/******
	Sidebar right
******/

.region.region-sidebar-second {
	border: 2px solid #333;
}


/*************
	Main Menu
*********/

#block-system-main-menu li {
	width: 20%;
	float:left;
}




/****************
	Coloring effects
****************/


/*
 * Sidebar left colors
 * */

.region.region-sidebar-first .profileimage a:hover {
	background: url("../../../../default/files/imagec.jpg") no-repeat;	
}

#block-block-1 .profilediaspora a:hover {
	background: url("../images/diasporac.jpg") no-repeat;
}

#block-block-1 .profileheadstart a:hover {
	background: url("../images/headstartc.jpg") no-repeat;
}

#block-block-1 .profiletwitter a:hover {
	background: url("../images/twitterc.png") no-repeat;
}

#block-block-1 .profilelinkedin a:hover {
	background: url("../images/linkedinc.png") no-repeat;
}

#block-block-2 .twtr-ft a:hover {
	background: url("../images/twitter_logoc.png") no-repeat;
}

/*******
 * Shadows
 * */
.region.region-sidebar-first:hover {
   -moz-box-shadow:inset 0 0 3px #490505;
   -webkit-box-shadow:inset 0 0 3px #000000;
   box-shadow:inset 0 0 3px #000000;
}
